@model IEnumerable<EmployeePayRoll.Models.EmployeeModel>

@{
    ViewData["Title"] = "Getall";
}
 <div id="view-all">
     <header class="header-content">
        <div class="logo-content">
            <img src="../logo (1).png" alt="">
            <div>
                <span class="emp-text">EMPLOYEE</span></br>
                <span class="emp-text emp-payroll">PAYROLL</span>
            </div>
        </div>
       
    </header>
     <h3 class ="text-center">List Of Employee's</h3>

<p>
    <a asp-action="AddEmployee" class="btn btn-success text-white">AddEmployee</a>
</p>
<div  class="form-content">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoinedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="GetByEmployeeId"  asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Remove" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
